sudo: false

language: java
jdk:
  - oraclejdk8

script: mvn clean verify -B -P coverage
before_install:
  - wget -O ~/codacy-coverage-reporter-assembly-latest.jar https://github.com/codacy/codacy-coverage-reporter/releases/download/4.0.1/codacy-coverage-reporter-4.0.1-assembly.jar
after_success:
  - java -cp ~/codacy-coverage-reporter-assembly-latest.jar com.codacy.CodacyCoverageReporter -l Java -r target/site/jacoco/jacoco.xml
  - mvn org.eluder.coveralls:coveralls-maven-plugin:report
  - mvn clean deploy -B

cache:
  directories:
  - $HOME/.m2

branches:
  only:
    - master
    - develop
